* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}


section > ul > li {
    letter-spacing: 10px;
}

p:nth-child(3) {
    color: yellow;
}

h1 {
	font-size: 3rem; 
}

#sub-header {
	text-transform: uppercase;   
} 

.text-green {
	background-color: rgba(0,200,0, 0.3);
}

.border-blue {
	border: 1px solid rgba(0,0,200, 0.5);
}

section > img {
	border-radius: 100px;
	height: 20vh;
	width: 20vh;
}

img + ul {
	list-style-type: none;
}

ul + p {
	text-align: center;
}