* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}


section > ul > li {
    letter-spacing: 10px;
}

p:nth-child(3) {
    color: yellow;
}

h1 {
	font-size: 3rem;
	border: 2px solid red;
	width: 900px;
	padding: 10px 0 10px 0;
}

h1:before {
	content: "Type Selector size 3rem;";
	font-size: 15px;
	color: #eee;
	text-align: center;
	height: 40px;
	padding: 0 5px 0 5px;
	width: 150px;
	background-color: red; 
	position: absolute; 
	margin-left: 800px;
	margin-top: -40px;
}

#sub-header {
	text-transform: uppercase;
	border: 2px solid red;
	width: 900px;
	padding-top: 15px;
} 

#sub-header:before {
	content: "ID Selector\A #sub-header\A h2 \Atext-transform";
	font-size: 15px;
  	white-space: pre;
	color: #eee;
	text-transform: none;
	text-align: center;
	height: 80px;
	padding: 0 10px 0 10px;
	width: 130px;
	background-color: red; 
	position: absolute; 
	margin-left: 820px;
	margin-top: -17px;
}

h3, h4 {
	border: 1px solid red;
	width: 320px;
}

h3:before {
	content: "h3";
	font-size: 15px;
  	white-space: pre;
	color: #eee;
	text-transform: none;
	text-align: center;
	padding: 0 0px 0 0px;
	width: 50px;
	height: 20px;
	background-color: red; 
	position: absolute; 
	margin-left: 310px;
	margin-top: 2px;
}

h4:before {
	content: "h4";
	font-size: 15px;
  	white-space: pre;
	color: #eee;
	text-transform: none;
	text-align: center;
	padding: 0 0px 0 0px;
	width: 50px;
	height: 20px;
	background-color: red; 
	position: absolute; 
	margin-left: 310px;
	margin-top: 2px;
}


h2 + h3 + ol:before {
	content: "Class Selector\A.text-green\A background-color";
	font-size: 15px;
  	white-space: pre;
	color: #eee;
	text-transform: none;
	text-align: center;
	padding: 0 35px 25px 35px; 
	background-color: red; 
	position: absolute; 
	margin-left: 310px;
	margin-top: 0px; 
}
h2 + h3 + ol:after {
	content: ""; 
	height: 80px;
	width: 320px;
	border: 1px solid red;
	position: absolute; 
	margin-top: -76px;
	margin-left: -5px;
}

ol + h3 + ol:before {
	content: "Class Selector\A.border-blue";
	font-size: 15px;
  	white-space: pre;
	color: #eee;
	text-transform: none;
	text-align: center;
	padding: 0 45px 5px 45px; 
	background-color: red; 
	position: absolute; 
	margin-left: 340px;
	margin-top: -15px; 
	z-index: 1;
}

ol + h3 + ol:after {
	content: ""; 
	height: 115px;
	width: 500px;
	border: 1px solid red;
	position: absolute; 
	margin-top: -110px;
	margin-left: -5px;
	z-index: 0;
}

.text-green {
	background-color: rgba(0,200,0, 0.3);
}

.border-blue {
	border: 1px solid rgba(0,0,200, 0.5);
}

section > img {
	border-radius: 100px;
	height: 10vh;
	width: 10vh;
}

section:before {
	content: ""; 
	height: 100px;
	width: 500px;
	border: 2px solid red;
	position: absolute; 
	margin-top: 50px;
	margin-left: -5px; 
}

section:after {
	content: "Descendant selector\A ____ img \A height: 20vh \A width: 20vh \A border-radius: 100px";
	font-size: 18px;
  	white-space: pre;
	color: #eee;
	background-color: red;
	padding: 3px 100px 3px 100px;
	text-transform: none;
	text-align: center; 
	border: 2px solid red;
	position: absolute; 
	margin-top: -284px;
	margin-left: 200px;  
}

ul:before {
	content: "Adjacent Selector \A _____ + ul \A list-style-type: none";
	font-size: 18px;
  	white-space: pre;
	color: #eee;
	text-transform: none;
	text-align: center;
	padding: 0 50px 30px 50px; 
	background-color: red; 
	position: absolute; 
	margin-left: 320px;
	margin-top: 5px;   
	z-index: 1;
} 

ul:after {
	content: ""; 
	height: 110px;
	width: 400px;
	border: 2px solid red;
	position: absolute; 
	margin-top: -100px;
	margin-left: -15px; 
}

img + ul {
	list-style-type: none;
}

ul + p {
	text-align: center;
}